<h1> <%= @book.title %>'s info </h1>
<br>


Format: <%= @book.format %>
<br>

Topic(s): 

<% @book.topics.each do |topic| %>
	<%=topic.name%>
<% end %>
<br>

Notes: <%= @book.note %>
<br>
<br>

<% if @book.user == current_user %>
	<form method="post" action="/books/<%= @book.id %>/delete">
	  	<input id="hidden" type="hidden" name="_method" value="DELETE">
	  	<input type="submit" value="Delete Book">
	</form>

	<br>

	<button><a href="/books/<%= @book.id %>/edit">Edit <%= @book.title %>'s' Info</a></button>
<% end %>


<br>
<br>

<a href="/books">Back to List of Titles</a>

